<app-tv-show-basic-info-search-bar></app-tv-show-basic-info-search-bar>
<div class="flex-container">
  <button mat-raised-button color="primary" class="user-tvshow-btn" (click)="openUserTvShowDialog(null)">Create Tv Show</button>
</div>
<mat-table class="reminders-table"
  [dataSource]="dataSource"
>
  <ng-container matColumnDef="posterImg">
    <mat-header-cell *matHeaderCellDef fxShow fxHide.lt-md>Poster</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let reminder" fxShow fxHide.lt-md>
        <ng-container *ngIf="reminder?.tvShowDetailsResponseDTO?.posterPath; else elseBlock">
          <img src="{{ reminder.tvShowDetailsResponseDTO.posterPath }}" class="img-poster"/>
        </ng-container>
        <ng-template #elseBlock>
            <span> No image </span>
        </ng-template>
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell class="description-cell"*matCellDef="let reminder">
        <ng-container *ngIf="reminder?.tvShowDetailsResponseDTO?.name; else elseBlock">
            {{ reminder.tvShowDetailsResponseDTO.name }}
        </ng-container>
        <ng-template #elseBlock>
            {{ reminder.userTvShowDTO.nameTvShow}}
        </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="genre">
    <mat-header-cell *matHeaderCellDef fxShow fxHide.lt-md>Genre</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let reminder" fxShow fxHide.lt-md>
        <ng-container *ngIf="reminder?.tvShowDetailsResponseDTO?.genres; else elseBlock">
            {{ reminder.tvShowDetailsResponseDTO.genres }}
        </ng-container>
        <ng-template #elseBlock>
            {{ reminder.userTvShowDTO.genre}}
        </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="currentSeason">
    <mat-header-cell *matHeaderCellDef>Season</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let reminder">
        {{reminder.currentSeason}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="currentEpisode">
    <mat-header-cell *matHeaderCellDef>Episode</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let reminder">
        {{reminder.currentEpisode}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="completed">
    <mat-header-cell *matHeaderCellDef>Completed</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let reminder">
        {{reminder.completed}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="personalRating">
    <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let reminder">
        {{reminder.personalRating}}
    </mat-cell>
  </ng-container>

  <!-- Add a column for reminders actions (update and  delete) -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell class="description-cell" *matCellDef="let reminder" (click)="$event.stopPropagation()">
      <div class="flex-container-actions">
        <button mat-raised-button color="primary" class="action-btns" (click)="openReminderDialog(reminder)">
          <span>Update</span>
        </button>
        <button mat-raised-button color="primary" class="action-btns" (click)="deleteReminderDialog(reminder)">
          <span>Delete</span>
        </button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  (click)="openDialogBasedOnRow(row)" *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator
  [length]=totalElementsForPagination
  [pageSize]="3"
  [pageSizeOptions]="[3, 5, 10]"
  class="reminders-paginator"
  (page)="pageEvents($event)"
></mat-paginator>