.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.user-tvshow-btn {
  margin: 50px;
}

.reminders-table {
  margin: 10px;
}

.reminders-paginator {
  margin: 10px;
}

mat-cell,
mat-header-cell {
  justify-content: center;
}

.img-poster {
  width: 80%;
  margin: 10px;
}

.flex-container-actions {
  display: flex;
  flex-direction: column;
}

.action-btns {
  margin: 10px;
}

.mat-column-currentSeason,
.mat-column-currentEpisode {
  flex: none;
  width: 60px;
}

@media (max-width: 425px) {
  mat-header-cell {
    font-size: 10px;
  }

  .description-cell {
    font-size: 12px;
  }

  span {
    font-size: smaller;
    padding: 0;
  }
  
  .action-btns {
    padding: 0;
    width: 20px;
    height: 30px;
    margin: 5px;
  }
}
