<div class="container-wrapper">
  <mat-card class="card-container">
    <mat-card-title>Log In</mat-card-title>
    <mat-card-content>
      <form
        autocomplete="off"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="form-container"
      >
        <mat-form-field class="flex-input">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
        </mat-form-field>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <mat-error *ngIf="username.errors.required">
            Username is required.
          </mat-error>
        </div>

        <mat-form-field class="flex-input">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="password"
            formControlName="password"
          />
        </mat-form-field>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <mat-error *ngIf="password.errors.required">
            Password is required.
          </mat-error>
        </div>

        <button
          class="flex-button"
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
