.card-container {
  /*background-color: blue;*/
  width: 50%;
  height: 40%;
}

mat-card-title {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-input {
  width: 50%;
}


@media (max-width: 500px) {
  .card-container {
    background-color: lightblue;
    width: 60%;
    height: 50%;
  }
}