<mat-toolbar color="primary">
    <span>Tv Show Reminder Application</span>
    <span class="spacer-nav"></span>
    <a class="spacer-nav-actions" routerLink="/home">Home</a>
    <div *ngIf="isLoggedIn; else elseBlock"> <!-- is the user is logged in -->
        <a class="spacer-nav-actions" routerLink="/reminders">Reminders</a>
        <a class="spacer-nav-actions" routerLink="/logOut">Log Out</a>
        <a class="spacer-nav-actions" routerLink="/profile">Profile</a>
    </div>
    <ng-template #elseBlock> <!-- When not logged in -->
        <a class="spacer-nav-actions" routerLink="/logIn">Log In</a>
        <a class="spacer-nav-actions" routerLink="/registration">Sign In</a>
    </ng-template>
</mat-toolbar>