.flex-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.flex-row-item {
  display: flex;
  flex-direction: row;
}

.flex-row-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
