<mat-card>
  <div *ngIf="!isLoading">
    <mat-card-title>
      {{ tvShowDetails.name }}
    </mat-card-title>
    <mat-card-content>
      <span>{{ tvShowDetails.tagline }}</span>
      <div class="flex-container">
        <ng-container *ngIf="tvShowDetails?.backdropPath">
          <img src="{{ tvShowDetails.backdropPath }}" class="img-item" />
        </ng-container>
        <div class="flex-item-container">
          <span class="flex-item"> {{ tvShowDetails.overview }}</span>
          <div class="flex-item-container-two">
            <span class="flex-item-genre">
              Genre: {{ tvShowDetails.genres }}</span
            >
            <span class="flex-item-two"
              >Status: {{ tvShowDetails.status }}</span
            >
            <span class="flex-item-two"
              >Original Language: {{ tvShowDetails.originalLanguage }}</span
            >
            <span class="flex-item-two"
              >Episode run time: {{ tvShowDetails.episodeRunTime }} m</span
            >
            <span class="flex-item-two">Type: {{ tvShowDetails.type }}</span>
          </div>
        </div>
        <span class="flex-item-two"
          >Number of seasons: {{ tvShowDetails.numberOfSeasons }}
        </span>
        <span class="flex-item-two"
          >Number of episodes: {{ tvShowDetails.numberOfEpisodes }}
        </span>
        <ng-container *ngFor="let video of safeUrlVideos">
          <iframe
            [src]="video"
            height="400px"
            width="100%"
            class="flex-item-two"
          ></iframe>
        </ng-container>
      </div>
    </mat-card-content>
  </div>
</mat-card>
