.flex-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin:10px;
}

.img-item {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.flex-container-information{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align:start;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.trailers{
  width: 100%;
  margin-bottom: 10px;
}

.flex-btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

mat-dialog-content::-webkit-scrollbar {
  margin-right: 30px;
}