.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 400px;
}

@media (max-width: 430px) {
  mat-form-field {
    width: 300px !important;
  }
}

@media (max-width: 330px) {
  mat-form-field {
    width: 250px !important;
  }
}

@media (max-width: 270px) {
  mat-form-field {
    width: 100% !important;
  }
}
