mat-sidenav-container {
  height: 100%;
  overflow-y: auto;
}

* {
  outline: 0 !important;
  -webkit-tap-highlight-color: transparent;
}

/* Flex container*/
.site {
  display: flex;
  flex-direction: column; /* The items will stack on each other*/
  /*min-height: 100%;*/
  /*align-items: center;
  justify-content: center;*/
}

.site-content {
  /*border: 10px solid orange;*/
  flex: 1;
}
