mat-form-field {
  width: 100%;
}

mat-card-title{
  text-align: center;
}

.card-container {
  /*background-color: blue;*/
  width: 30%;
  height: 70%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-btn {
  margin-top: 6px;
}

@media (max-width: 500px) {
  .card-container {
    width: 60%;
    height: 80%;
  }
}