.main-div{
  /*border: 3px solid yellow;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; 
  color: white;
}