@import "@angular/material/prebuilt-themes/purple-green.css";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-container-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px !important;
  padding: 30px 10px 30px 10px !important;
  min-width: 500px;
  max-width: 550px;
  background-color: rgba(53, 47, 47, 0.582) !important;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}

.card-container-content {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

@media (max-width: 550px) {
  .card-container {
    min-width: 200px !important;
    width: calc(100% - 40px) !important;
  }
}
