@import "@angular/material/prebuilt-themes/purple-green.css";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-container-wrapper {
  display: flex;
  /*border: 2px solid yellow;*/
  /*height: calc(100vh - 81px);*/
  flex-grow: 1;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}